In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import os

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
from google.colab import files
uploaded = files.upload()

Saving adult.csv to adult.csv

In [4]:
data = pd.read_csv('adult.csv')
data

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
df = data

In [6]:
df.shape

(32560, 15)

In [7]:
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [8]:
col_names = ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income' ]

df.columns = col_names
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income'],
      dtype='object')

In [9]:
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32560 non-null  int64
 1   workclass       32560 non-null  object
 2   fnlwgt          32560 non-null  int64
 3   education       32560 non-null  object
 4   education_num   32560 non-null  int64
 5   marital_status  32560 non-null  object
 6   occupation      32560 non-null  object
 7   relationship    32560 non-null  object
 8   race            32560 non-null  object
 9   sex             32560 non-null  object
 10  capital_gain    32560 non-null  int64
 11  capital_loss    32560 non-null  int64
 12  hours_per_week  32560 non-null  int64
 13  native_country  32560 non-null  object
 14  income          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [11]:
categorical = [var for var in df.columns if df[var].dtype=='0']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :\n\n', categorical)

There are 0 categorical variables

The categorical variables are :

 []

In [12]:
categorical = [var for var in df.columns if df[var].dtype=='O']

print('There are {} categorical variables\n'.format(len(categorical)))

print('The categorical variables are :\n\n', categorical)

There are 9 categorical variables

The categorical variables are :

 ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income']

In [13]:
df[categorical].head()

,workclass,education,marital_status,occupation,relationship,race,sex,native_country,income
0,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,<=50K
1,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,<=50K
2,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,<=50K
3,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,<=50K
4,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,<=50K

In [14]:
# Checking the missing values in categorical variables
df[categorical].isnull().sum()

workclass         0
education         0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
native_country    0
income            0
dtype: int64

In [15]:
df[categorical].isnull().sum()

workclass         0
education         0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
native_country    0
income            0
dtype: int64

### Frequency count of categorical variables

In [16]:
for var in categorical:
  
  print(df[var].value_counts())

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1297
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64
 HS-grad         10501
 Some-college     7291
 Bachelors        5354
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64
 Married-civ-spouse       14976
 Never-married            10682
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: marital_status, dtype: int64
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3769
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64
 Husband           13193
 Not-in-family      8304
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64
 White                 27815
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64
 Male      21789
 Female    10771
Name: sex, dtype: int64
 United-States                 29169
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native_country, dtype: int64
 <=50K    24719
 >50K      7841
Name: income, dtype: int64

In [17]:
# view frequency distribution of categorical vaiables
for var in categorical:

  print(df[var].value_counts()/np.float(len(df)))

 Private             0.697052
 Self-emp-not-inc    0.078041
 Local-gov           0.064281
 ?                   0.056388
 State-gov           0.039834
 Self-emp-inc        0.034275
 Federal-gov         0.029484
 Without-pay         0.000430
 Never-worked        0.000215
Name: workclass, dtype: float64
 HS-grad         0.322512
 Some-college    0.223925
 Bachelors       0.164435
 Masters         0.052918
 Assoc-voc       0.042445
 11th            0.036087
 Assoc-acdm      0.032770
 10th            0.028655
 7th-8th         0.019840
 Prof-school     0.017690
 9th             0.015786
 12th            0.013299
 Doctorate       0.012684
 5th-6th         0.010227
 1st-4th         0.005160
 Preschool       0.001566
Name: education, dtype: float64
 Married-civ-spouse       0.459951
 Never-married            0.328071
 Divorced                 0.136456
 Separated                0.031480
 Widowed                  0.030498
 Married-spouse-absent    0.012838
 Married-AF-spouse        0.000706
Name: marital_status, dtype: float64
 Prof-specialty       0.127150
 Craft-repair         0.125891
 Exec-managerial      0.124877
 Adm-clerical         0.115756
 Sales                0.112101
 Other-service        0.101198
 Machine-op-inspct    0.061486
 ?                    0.056603
 Transport-moving     0.049048
 Handlers-cleaners    0.042076
 Farming-fishing      0.030528
 Tech-support         0.028501
 Protective-serv      0.019932
 Priv-house-serv      0.004576
 Armed-Forces         0.000276
Name: occupation, dtype: float64
 Husband           0.405190
 Not-in-family     0.255037
 Own-child         0.155651
 Unmarried         0.105835
 Wife              0.048157
 Other-relative    0.030129
Name: relationship, dtype: float64
 White                 0.854269
 Black                 0.095946
 Asian-Pac-Islander    0.031910
 Amer-Indian-Eskimo    0.009552
 Other                 0.008323
Name: race, dtype: float64
 Male      0.669195
 Female    0.330805
Name: sex, dtype: float64
 United-States                 0.895854
 Mexico                        0.019748
 ?                             0.017905
 Philippines                   0.006081
 Germany                       0.004208
 Canada                        0.003716
 Puerto-Rico                   0.003501
 El-Salvador                   0.003256
 India                         0.003071
 Cuba                          0.002918
 England                       0.002764
 Jamaica                       0.002488
 South                         0.002457
 China                         0.002303
 Italy                         0.002242
 Dominican-Republic            0.002150
 Vietnam                       0.002058
 Guatemala                     0.001966
 Japan                         0.001904
 Poland                        0.001843
 Columbia                      0.001812
 Taiwan                        0.001566
 Haiti                         0.001351
 Iran                          0.001321
 Portugal                      0.001136
 Nicaragua                     0.001044
 Peru                          0.000952
 France                        0.000891
 Greece                        0.000891
 Ecuador                       0.000860
 Ireland                       0.000737
 Hong                          0.000614
 Cambodia                      0.000584
 Trinadad&Tobago               0.000584
 Laos                          0.000553
 Thailand                      0.000553
 Yugoslavia                    0.000491
 Outlying-US(Guam-USVI-etc)    0.000430
 Honduras                      0.000399
 Hungary                       0.000399
 Scotland                      0.000369
 Holand-Netherlands            0.000031
Name: native_country, dtype: float64
 <=50K    0.759183
 >50K     0.240817
Name: income, dtype: float64

In [18]:
# check lables in workclass variables

df.workclass.unique()

array([' Self-emp-not-inc', ' Private', ' State-gov', ' Federal-gov',
       ' Local-gov', ' ?', ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)

In [19]:
df.workclass.value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1297
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [20]:
# replace '?' values in workclass variables with NaN

df['workclass'].replace('?', np.NaN, inplace=True)

In [21]:
df.workclass.value_counts()

 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1297
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64

In [22]:
df.occupation.unique()

array([' Exec-managerial', ' Handlers-cleaners', ' Prof-specialty',
       ' Other-service', ' Adm-clerical', ' Sales', ' Craft-repair',
       ' Transport-moving', ' Farming-fishing', ' Machine-op-inspct',
       ' Tech-support', ' ?', ' Protective-serv', ' Armed-Forces',
       ' Priv-house-serv'], dtype=object)

In [23]:
df.occupation.value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3769
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [24]:
df['occupation'].replace('?', np.NaN, inplace=True)

In [25]:
df.occupation.value_counts()

 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3769
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64

In [26]:
df.native_country.unique()

array([' United-States', ' Cuba', ' Jamaica', ' India', ' ?', ' Mexico',
       ' South', ' Puerto-Rico', ' Honduras', ' England', ' Canada',
       ' Germany', ' Iran', ' Philippines', ' Italy', ' Poland',
       ' Columbia', ' Cambodia', ' Thailand', ' Ecuador', ' Laos',
       ' Taiwan', ' Haiti', ' Portugal', ' Dominican-Republic',
       ' El-Salvador', ' France', ' Guatemala', ' China', ' Japan',
       ' Yugoslavia', ' Peru', ' Outlying-US(Guam-USVI-etc)', ' Scotland',
       ' Trinadad&Tobago', ' Greece', ' Nicaragua', ' Vietnam', ' Hong',
       ' Ireland', ' Hungary', ' Holand-Netherlands'], dtype=object)

In [27]:
df.native_country.value_counts()

 United-States                 29169
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native_country, dtype: int64

In [28]:
df['native_country'].replace('?', np.NaN, inplace=True)

In [29]:
df.native_country.value_counts()

 United-States                 29169
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: native_country, dtype: int64

### Check missing values in categorical variables again

In [30]:
df[categorical].isnull().sum()

workclass         0
education         0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
native_country    0
income            0
dtype: int64

### Number of labels: cardinality
The number of labels within a categorical variable is known as cardinality. A high number of labels within a variable is known as high cardinality. High cardinality may pose some serious problems in the machine learning model. So, I will check for high cardinality.

In [31]:
# check for cardinality in categorical variables
for var in categorical:
  print(var, 'contains', len(df[var].unique()), 'labels')

workclass contains 9 labels
education contains 16 labels
marital_status contains 7 labels
occupation contains 15 labels
relationship contains 6 labels
race contains 5 labels
sex contains 2 labels
native_country contains 42 labels
income contains 2 labels

### Explore Numerical Variables

In [32]:
# Find numerical variables
numerical = [var for var in df.columns if df[var].dtype!='0']

print('There are {} numerical variables\n'.format(len(numerical)))

print('The numerical variables are: ', numerical)

There are 15 numerical variables

The numerical variables are:  ['age', 'workclass', 'fnlwgt', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'income']

In [33]:
df[numerical].head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [34]:
df[numerical].isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

### Declare geture vector and target variable

In [35]:
x = df.drop(['age'], axis=1)
y = df['age']

### Split data into seperate training and test set

In [36]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [37]:
x_train.shape, x_test.shape

((26048, 14), (6512, 14))

#### Feature Engineering is the process of transforming raw data into useful features that help us to understand our model better and increase its predictive power. I will carry out feature engineering on different types of variables.

First, I will display the categorical and numerical variables again separately.

In [38]:
# check data types in x_train

x_train.dtypes

workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [39]:
categorical = [col for col in x_train.columns if x_train[col].dtypes == '0']

categorical

[]

In [40]:
numerical = [col for col in x_train.columns if x_train[col].dtypes!='0']
numerical

['workclass',
 'fnlwgt',
 'education',
 'education_num',
 'marital_status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital_gain',
 'capital_loss',
 'hours_per_week',
 'native_country',
 'income']

In [41]:
x_train[categorical].isnull().sum()

Series([], dtype: float64)

In [42]:
for col in categorical:
  if x_train[col].isull().mean()>0:
    print(col, (x_train[col].isnull().mean()))

In [43]:
# Impute missing the categorical variables with most frequent values

for df2 in [x_train, x_test]:
  df2['workclass'].fillna(x_train['workclass'].mode()[0], inplace=True)
  df2['occupation'].fillna(x_train['occupation'].mode()[0], inplace=True)
  df2['native_country'].fillna(x_train['native_country'].mode()[0], inplace=True)

In [44]:
# checking missing values in categorical variables in x_train

x_train[categorical].isnull().sum()

Series([], dtype: float64)

In [45]:
x_test[categorical].isnull().sum()

Series([], dtype: float64)

In [46]:
x_train.isnull().sum()

workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [47]:
# print categorical variables

categorical

[]

In [48]:
x_train[categorical].head()

Empty DataFrame
Columns: []
Index: [24639, 5514, 19777, 10781, 32239]

In [49]:
pip install category-encoders

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting category-encoders
  Downloading category_encoders-2.5.1.post0-py2.py3-none-any.whl (72 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 72 kB 849 kB/s
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.21.6)
Requirement already satisfied: pandas>=1.0.5 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.3.5)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (0.5.3)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.7.3)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (1.0.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category-encoders) (0.12.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category-encoders) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0.5->category-encoders) (2.8.2)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category-encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category-encoders) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category-encoders) (3.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.5.1.post0

In [50]:
# import category encoders

import category_encoders as ce

In [51]:
encoder = ce.OneHotEncoder(cols=['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country'])

x_train = encoder.fit_transform(x_train)

x_test = encoder.transform(x_test)

In [52]:
x_train.head()

,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,workclass_8,workclass_9,fnlwgt,...,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41,native_country_42,income
24639,1,0,0,0,0,0,0,0,0,385077,...,0,0,0,0,0,0,0,0,0,<=50K
5514,0,1,0,0,0,0,0,0,0,140764,...,0,0,0,0,0,0,0,0,0,<=50K
19777,1,0,0,0,0,0,0,0,0,312242,...,0,0,0,0,0,0,0,0,0,<=50K
10781,1,0,0,0,0,0,0,0,0,227489,...,0,0,0,0,0,0,0,0,0,<=50K
32239,1,0,0,0,0,0,0,0,0,180190,...,0,0,0,0,0,0,0,0,0,<=50K

In [53]:
x_train.shape

(26048, 108)

In [54]:
x_test.shape

(6512, 108)

### Feature Scaling

In [55]:
cols = x_train.columns

In [56]:
x_train

,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,workclass_8,workclass_9,fnlwgt,...,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41,native_country_42,income
24639,1,0,0,0,0,0,0,0,0,385077,...,0,0,0,0,0,0,0,0,0,<=50K
5514,0,1,0,0,0,0,0,0,0,140764,...,0,0,0,0,0,0,0,0,0,<=50K
19777,1,0,0,0,0,0,0,0,0,312242,...,0,0,0,0,0,0,0,0,0,<=50K
10781,1,0,0,0,0,0,0,0,0,227489,...,0,0,0,0,0,0,0,0,0,<=50K
32239,1,0,0,0,0,0,0,0,0,180190,...,0,0,0,0,0,0,0,0,0,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29802,1,0,0,0,0,0,0,0,0,109351,...,0,0,0,0,0,0,0,0,0,>50K
5390,1,0,0,0,0,0,0,0,0,101562,...,0,0,0,0,0,0,0,0,0,<=50K
860,1,0,0,0,0,0,0,0,0,191547,...,0,0,0,0,0,0,0,0,0,<=50K
15795,1,0,0,0,0,0,0,0,0,223352,...,0,0,0,0,0,0,0,0,0,<=50K
23654,0,0,0,1,0,0,0,0,0,236472,...,0,0,0,0,0,0,0,0,0,<=50K

In [57]:
print(x)

               workclass  fnlwgt    education  education_num  \
0       Self-emp-not-inc   83311    Bachelors             13
1                Private  215646      HS-grad              9
2                Private  234721         11th              7
3                Private  338409    Bachelors             13
4                Private  284582      Masters             14
...                  ...     ...          ...            ...
32555            Private  257302   Assoc-acdm             12
32556            Private  154374      HS-grad              9
32557            Private  151910      HS-grad              9
32558            Private  201490      HS-grad              9
32559       Self-emp-inc  287927      HS-grad              9

            marital_status          occupation    relationship    race  \
0       Married-civ-spouse     Exec-managerial         Husband   White
1                 Divorced   Handlers-cleaners   Not-in-family   White
2       Married-civ-spouse   Handlers-cleaners         Husband   Black
3       Married-civ-spouse      Prof-specialty            Wife   Black
4       Married-civ-spouse     Exec-managerial            Wife   White
...                    ...                 ...             ...     ...
32555   Married-civ-spouse        Tech-support            Wife   White
32556   Married-civ-spouse   Machine-op-inspct         Husband   White
32557              Widowed        Adm-clerical       Unmarried   White
32558        Never-married        Adm-clerical       Own-child   White
32559   Married-civ-spouse     Exec-managerial            Wife   White

           sex  capital_gain  capital_loss  hours_per_week  native_country  \
0         Male             0             0              13   United-States
1         Male             0             0              40   United-States
2         Male             0             0              40   United-States
3       Female             0             0              40            Cuba
4       Female             0             0              40   United-States
...        ...           ...           ...             ...             ...
32555   Female             0             0              38   United-States
32556     Male             0             0              40   United-States
32557   Female             0             0              40   United-States
32558     Male             0             0              20   United-States
32559   Female         15024             0              40   United-States

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
32555   <=50K
32556    >50K
32557   <=50K
32558   <=50K
32559    >50K

[32560 rows x 14 columns]

In [58]:
print(df2)

          workclass  fnlwgt      education  education_num  \
14160       Private  680390        HS-grad              9
27047     State-gov   50567        HS-grad              9
28867       Private  185908      Bachelors             13
5667        Private  306108      Doctorate             16
7827        Private  124071        Masters             14
...             ...     ...            ...            ...
13307       Private   88500   Some-college             10
1338      State-gov   34180   Some-college             10
24534       Private  193748           11th              7
18080       Private  192900   Some-college             10
10354   Federal-gov  227244      Bachelors             13

            marital_status          occupation    relationship    race  \
14160             Divorced        Adm-clerical       Unmarried   White
27047   Married-civ-spouse     Exec-managerial            Wife   White
28867   Married-civ-spouse     Exec-managerial         Husband   Black
5667         Never-married      Prof-specialty   Not-in-family   White
7827               Widowed      Prof-specialty   Not-in-family   White
...                    ...                 ...             ...     ...
13307   Married-civ-spouse   Machine-op-inspct         Husband   White
1338    Married-civ-spouse     Exec-managerial         Husband   White
24534        Never-married               Sales       Own-child   White
18080        Never-married       Other-service   Not-in-family   White
10354   Married-civ-spouse     Protective-serv         Husband   Black

           sex  capital_gain  capital_loss  hours_per_week  native_country  \
14160   Female             0             0              20   United-States
27047   Female             0             0              40   United-States
28867     Male             0             0              55   United-States
5667      Male             0             0              40   United-States
7827    Female             0             0              44   United-States
...        ...           ...           ...             ...             ...
13307     Male             0             0              44   United-States
1338      Male             0             0              40   United-States
24534     Male             0             0              15   United-States
18080     Male             0             0              40   United-States
10354     Male             0             0              50   United-States

       income
14160   <=50K
27047   <=50K
28867    >50K
5667     >50K
7827    <=50K
...       ...
13307    >50K
1338    <=50K
24534   <=50K
18080   <=50K
10354    >50K

[6512 rows x 14 columns]

In [59]:
df2['income'] = pd.to_numeric(df2['income'], errors='coerce')
df2 = df2.replace(np.nan, 0, regex=True)
print(df2)
print(df2.dtypes)

          workclass  fnlwgt      education  education_num  \
14160       Private  680390        HS-grad              9
27047     State-gov   50567        HS-grad              9
28867       Private  185908      Bachelors             13
5667        Private  306108      Doctorate             16
7827        Private  124071        Masters             14
...             ...     ...            ...            ...
13307       Private   88500   Some-college             10
1338      State-gov   34180   Some-college             10
24534       Private  193748           11th              7
18080       Private  192900   Some-college             10
10354   Federal-gov  227244      Bachelors             13

            marital_status          occupation    relationship    race  \
14160             Divorced        Adm-clerical       Unmarried   White
27047   Married-civ-spouse     Exec-managerial            Wife   White
28867   Married-civ-spouse     Exec-managerial         Husband   Black
5667         Never-married      Prof-specialty   Not-in-family   White
7827               Widowed      Prof-specialty   Not-in-family   White
...                    ...                 ...             ...     ...
13307   Married-civ-spouse   Machine-op-inspct         Husband   White
1338    Married-civ-spouse     Exec-managerial         Husband   White
24534        Never-married               Sales       Own-child   White
18080        Never-married       Other-service   Not-in-family   White
10354   Married-civ-spouse     Protective-serv         Husband   Black

           sex  capital_gain  capital_loss  hours_per_week  native_country  \
14160   Female             0             0              20   United-States
27047   Female             0             0              40   United-States
28867     Male             0             0              55   United-States
5667      Male             0             0              40   United-States
7827    Female             0             0              44   United-States
...        ...           ...           ...             ...             ...
13307     Male             0             0              44   United-States
1338      Male             0             0              40   United-States
24534     Male             0             0              15   United-States
18080     Male             0             0              40   United-States
10354     Male             0             0              50   United-States

       income
14160     0.0
27047     0.0
28867     0.0
5667      0.0
7827      0.0
...       ...
13307     0.0
1338      0.0
24534     0.0
18080     0.0
10354     0.0

[6512 rows x 14 columns]
workclass          object
fnlwgt              int64
education          object
education_num       int64
marital_status     object
occupation         object
relationship       object
race               object
sex                object
capital_gain        int64
capital_loss        int64
hours_per_week      int64
native_country     object
income            float64
dtype: object

In [60]:
df2['income'] = df2['income'].astype(float)

print (df2)
print (df2.dtypes)

          workclass  fnlwgt      education  education_num  \
14160       Private  680390        HS-grad              9
27047     State-gov   50567        HS-grad              9
28867       Private  185908      Bachelors             13
5667        Private  306108      Doctorate             16
7827        Private  124071        Masters             14
...             ...     ...            ...            ...
13307       Private   88500   Some-college             10
1338      State-gov   34180   Some-college             10
24534       Private  193748           11th              7
18080       Private  192900   Some-college             10
10354   Federal-gov  227244      Bachelors             13

            marital_status          occupation    relationship    race  \
14160             Divorced        Adm-clerical       Unmarried   White
27047   Married-civ-spouse     Exec-managerial            Wife   White
28867   Married-civ-spouse     Exec-managerial         Husband   Black
5667         Never-married      Prof-specialty   Not-in-family   White
7827               Widowed      Prof-specialty   Not-in-family   White
...                    ...                 ...             ...     ...
13307   Married-civ-spouse   Machine-op-inspct         Husband   White
1338    Married-civ-spouse     Exec-managerial         Husband   White
24534        Never-married               Sales       Own-child   White
18080        Never-married       Other-service   Not-in-family   White
10354   Married-civ-spouse     Protective-serv         Husband   Black

           sex  capital_gain  capital_loss  hours_per_week  native_country  \
14160   Female             0             0              20   United-States
27047   Female             0             0              40   United-States
28867     Male             0             0              55   United-States
5667      Male             0             0              40   United-States
7827    Female             0             0              44   United-States
...        ...           ...           ...             ...             ...
13307     Male             0             0              44   United-States
1338      Male             0             0              40   United-States
24534     Male             0             0              15   United-States
18080     Male             0             0              40   United-States
10354     Male             0             0              50   United-States

       income
14160     0.0
27047     0.0
28867     0.0
5667      0.0
7827      0.0
...       ...
13307     0.0
1338      0.0
24534     0.0
18080     0.0
10354     0.0

[6512 rows x 14 columns]
workclass          object
fnlwgt              int64
education          object
education_num       int64
marital_status     object
occupation         object
relationship       object
race               object
sex                object
capital_gain        int64
capital_loss        int64
hours_per_week      int64
native_country     object
income            float64
dtype: object

In [61]:
df2['income'] = pd.to_numeric(df2['income'], errors='coerce')
print(df.dtypes)

age                int64
workclass         object
fnlwgt             int64
education         object
education_num      int64
marital_status    object
occupation        object
relationship      object
race              object
sex               object
capital_gain       int64
capital_loss       int64
hours_per_week     int64
native_country    object
income            object
dtype: object

In [62]:
print(df2['income'].dtypes)

float64

In [63]:
x_train.dtypes

workclass_1           int64
workclass_2           int64
workclass_3           int64
workclass_4           int64
workclass_5           int64
                      ...
native_country_39     int64
native_country_40     int64
native_country_41     int64
native_country_42     int64
income               object
Length: 108, dtype: object

In [64]:
df2['income'] = df2['income'].astype(float)

print (df2)
print (df2.dtypes)

          workclass  fnlwgt      education  education_num  \
14160       Private  680390        HS-grad              9
27047     State-gov   50567        HS-grad              9
28867       Private  185908      Bachelors             13
5667        Private  306108      Doctorate             16
7827        Private  124071        Masters             14
...             ...     ...            ...            ...
13307       Private   88500   Some-college             10
1338      State-gov   34180   Some-college             10
24534       Private  193748           11th              7
18080       Private  192900   Some-college             10
10354   Federal-gov  227244      Bachelors             13

            marital_status          occupation    relationship    race  \
14160             Divorced        Adm-clerical       Unmarried   White
27047   Married-civ-spouse     Exec-managerial            Wife   White
28867   Married-civ-spouse     Exec-managerial         Husband   Black
5667         Never-married      Prof-specialty   Not-in-family   White
7827               Widowed      Prof-specialty   Not-in-family   White
...                    ...                 ...             ...     ...
13307   Married-civ-spouse   Machine-op-inspct         Husband   White
1338    Married-civ-spouse     Exec-managerial         Husband   White
24534        Never-married               Sales       Own-child   White
18080        Never-married       Other-service   Not-in-family   White
10354   Married-civ-spouse     Protective-serv         Husband   Black

           sex  capital_gain  capital_loss  hours_per_week  native_country  \
14160   Female             0             0              20   United-States
27047   Female             0             0              40   United-States
28867     Male             0             0              55   United-States
5667      Male             0             0              40   United-States
7827    Female             0             0              44   United-States
...        ...           ...           ...             ...             ...
13307     Male             0             0              44   United-States
1338      Male             0             0              40   United-States
24534     Male             0             0              15   United-States
18080     Male             0             0              40   United-States
10354     Male             0             0              50   United-States

       income
14160     0.0
27047     0.0
28867     0.0
5667      0.0
7827      0.0
...       ...
13307     0.0
1338      0.0
24534     0.0
18080     0.0
10354     0.0

[6512 rows x 14 columns]
workclass          object
fnlwgt              int64
education          object
education_num       int64
marital_status     object
occupation         object
relationship       object
race               object
sex                object
capital_gain        int64
capital_loss        int64
hours_per_week      int64
native_country     object
income            float64
dtype: object

In [69]:
x_train['income'] = x_train['income'].replace({' <=50K':0, ' >50K': 1})
x_test['income'] = x_test['income'].replace({' <=50K':0, ' >50K': 1})

In [70]:
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()

x_train = scaler.fit_transform(x_train)

x_test = scaler.transform(x_test)

In [71]:
x_train = pd.DataFrame(x_test, columns=[cols])
x_test = pd.DataFrame(x_test, columns=[cols])

In [72]:
x_train.head()

,workclass_1,workclass_2,workclass_3,workclass_4,workclass_5,workclass_6,workclass_7,workclass_8,workclass_9,fnlwgt,...,native_country_34,native_country_35,native_country_36,native_country_37,native_country_38,native_country_39,native_country_40,native_country_41,native_country_42,income
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.235020,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1.075147,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.065940,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.079371,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.455420,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### Model Training

In [150]:
x.shape

(32560, 14)

In [151]:
y.shape

(32560,)

In [156]:
x.value_counts()

workclass     fnlwgt  education      education_num  marital_status          occupation        relationship     race                 sex      capital_gain  capital_loss  hours_per_week  native_country  income
 Private      195994   1st-4th       2               Never-married           Priv-house-serv   Not-in-family    White                Female  0             0             40               Guatemala       <=50K    3
              112137   Some-college  10              Never-married           Prof-specialty    Other-relative   Asian-Pac-Islander   Female  0             0             20               South           <=50K    2
              342768   HS-grad       9               Married-civ-spouse      Craft-repair      Husband          White                Male    0             0             40               United-States   <=50K    2
              85088    Some-college  10              Never-married           Other-service     Own-child        White                Female  0             0             37               United-States   <=50K    2
              180656   Some-college  10              Married-spouse-absent   Craft-repair      Not-in-family    White                Male    0             0             40               ?               <=50K    2
                                                                                                                                                                                                                  ..
              124068   Some-college  10              Never-married           Adm-clerical      Not-in-family    White                Female  0             0             20               United-States   <=50K    1
              124052   HS-grad       9               Married-civ-spouse      Craft-repair      Husband          White                Male    0             0             40               United-States   <=50K    1
              124020   HS-grad       9               Married-spouse-absent   Adm-clerical      Not-in-family    White                Male    0             0             40               United-States   <=50K    1
              123992   Some-college  10              Married-civ-spouse      Craft-repair      Husband          White                Male    0             0             45               United-States   <=50K    1
 Without-pay  344858   HS-grad       9               Never-married           Farming-fishing   Own-child        White                Male    0             0             20               United-States   <=50K    1
Length: 32493, dtype: int64

In [157]:
y.value_counts()

36    898
31    888
34    886
23    877
35    876
     ...
83      6
88      3
85      3
86      1
87      1
Name: age, Length: 73, dtype: int64

In [171]:
y.shape

AttributeError: ignored

In [172]:
x.values.reshape(1, -1).T

array([[' Self-emp-not-inc'],
       [83311],
       [' Bachelors'],
       ...,
       [40],
       [' United-States'],
       [' >50K']], dtype=object)

In [147]:
y_train.reshape

In [145]:
# y_train.values.reshape(-1, 1)

In [148]:
x_train = np.array(x_train)
y_train = np.array(y_train)

In [173]:
# To train Gaussian Naive Bayes Classifier on the training set 
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(x_train, y_train)

ValueError: ignored